<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ever wonder when your favorite Münch Food Park truck will be open? Now you don't have to! Check this page for regularly updated">
    <title>Münch- Hours of Operation</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body style="height: 100vh; width: 100vw; overflow-x: hidden; overflow-y: hidden; background-color: #45b3a2; margin-top: 0px;">
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>